* {
    font-family: "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 0 12px;
    padding-bottom: 12px;
}

.header .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.header .upper svg {
    height: 30px;
    width: 60px;
}

.header .upper .right {
    display: flex;
    align-items: center;
}

.header .upper .right span {
    font-weight: 600;
    font-size: 12px;
    padding-right: 16px;
}

.header .upper .right i {
    padding: 0 12px;
    /* color: black; */
    fill: #222;
    font-size: 20px;
    /* background-color: saddlebrown; */
}

.header .lower {
    display: flex;
    align-items: center;
}

.header .lower svg {
    padding-right: 12px;
    height: 42px;
    width: 42px;
}

.header .lower i {
    padding-right: 12px;
    font-size: 18px;
}


.header .lower .search_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(34, 34, 34, 0.05);
    border-radius: 30px;
    border: 2px solid #222;
    padding: 6px 12px;
}

.header .lower .search_bar input {
    border: none;
    background: none;
    padding: 8px;
    /* font-size: 14px; */
}

.header .lower .search_bar input::placeholder {
    font-size: 16px;
}

.header .lower .search_bar svg {
    height: 24px;
    width: 24px;
}

/* find_things */
.find_things {
    padding: 24px 12px;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 75%;
    width: 100%;
    background-color: #DDEBE3;
    z-index: -1;
}

.find_things p {
    font-family: "Guardian-EgypTT", "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
    letter-spacing: 0.35px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

.find_things .card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 0;
    column-gap: 15px;
    justify-items: center;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0 12px;
    /* background-color: firebrick; */
    position: relative;
    padding-top: 8px;
}

.find_things .card-container .cards {
    /* total card */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 98px;
    /* min-height: 50px; */
    padding: 8px 0;
}

.find_things .card-container .cards .image {
    border-radius: 50%;
    overflow: hidden;
    max-height: 98px;
    /* width: 20px; */
    max-width: 98px;
    width: 27vw;
    height: 27vw;
    border: 1px solid rgba(34, 34, 34, 0.15);
    /* border-radius: 50%; */
    /* transform: scale(1.08); */
}

.find_things .card-container .cards .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.find_things .card-container .cards h6 {
    padding: 6px 0;
    font-size: 14px;
    text-align: center;
    /* white-space: nowrap; */
}

.editors_pick {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 80px;
}

.editors_pick .for_your_home p {
    text-align: center;
    font-size: 14px;
    padding-bottom: 4px;
}

.editors_pick .for_your_home h4 {
    text-align: center;
    font-size: 18px;
}

.editors_pick .square_card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 16px;
}

.editors_pick .square_card_container .card .image {
    width: 100%;
    aspect-ratio: 1/1;
    min-width: 50px;
}

.editors_pick .square_card_container .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.see_more {
    display: flex;
    align-items: center;
    justify-content: center;
}

.see_more img {
    width: 24px;
    height: 24px;
}

.see_more p {
    font-weight: 600;
}

.discover_unique {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.discover_unique h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.discover_unique .radio_tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
}

.discover_unique .radio_tabs label {
    white-space: nowrap;
}

.discover_unique .radio_tabs input[type="radio"] {
    visibility: hidden;
}

.discover_unique .wrapper {
    padding-bottom: 60px;
}

.discover_unique .wrapper .radio_tabs .radio_wrap p {
    font-size: 20px;
    padding-bottom: 16px;
    margin-right: 30px;
    color: #666;
    /* background-color: darkblue; */
}

.discover_unique .wrapper .radio_tabs .radio_wrap .active {
    border-bottom: 2px solid black;
    font-weight: 600;
    color: black;
}




.radio_content .image_container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding-top: 14px;
    /* background-color: yellowgreen; */
}

.radio_content .image_container .image {
    max-width: 45vw;
    aspect-ratio: 1.3/1;
    position: relative;
}

.radio_content .image_container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.radio_content .image_container .image_large {
    grid-column: 1/3;
    aspect-ratio: 1.3/1.1;
    max-width: 100%;
}

.radio_content .image_container .image .center {
    position: absolute;
    bottom: -4px;
    left: 60px;
    transform: translate(-50%, -50%);
    font-size: 18px;
    display: flex;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
}

.radio_content .image_container .image .center p {
    font-size: 12px;
}

.radio_content .image_container .image .center .price {
    font-weight: 600;
}

.radio_content .image_container .image .center .offer {
    text-decoration: line-through;
}

.jewellery_shop {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 28px;
    padding-bottom: 30px;
}

.jewellery_shop .editor p {
    text-align: center;
    font-size: 14px;
    padding-bottom: 8px;
}

.jewellery_shop .editor h4 {
    text-align: center;
    font-size: 26px;
    padding-bottom: 10px;
}

.jewellery_card_container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 12px 24px;
    gap: 10px;
    padding-bottom: 20px;
}

.jewellery_card_container .card .image {
    aspect-ratio: 1/1;
    max-width: 300px;
}

.jewellery_card_container .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.shop_our_selection {
    padding-top: 60px;
    padding-bottom: 60px;
}

.shop_our_selection .see_more p {
    font-size: 18px;
    padding-bottom: 12px;
}

.shop_our_selection .sub_head {
    color: #666;
    text-align: center;
    font-size: 12px;
    padding-bottom: 24px;
}

.shop_selection_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.shop_selection_container .card {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.shop_selection_container .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.shop_selection_container .card .content {
    /* background-color: yellow; */
    padding: 10px;
}

.shop_selection_container .card .content p {
    text-align: center;
    font-weight: 600;
}

.what_is_etsy {
    background-color: #FDEBD2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 80px;
    padding-top: 60px;
}

.what_is_etsy svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(2);
}

.what_is_etsy .question {
    font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 36px;
}

.what_is_etsy span {
    text-decoration: underline;
    font-size: 14px;
}

.what_is_etsy .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 28px;
    padding: 8px;
}

.what_is_etsy .story h2 {
    padding-top: 28px;
    padding-bottom: 20px;
}

.what_is_etsy .story span {
    font-size: 16px;
    text-decoration-style: dashed;
    text-underline-offset: 4px;
}

.what_is_etsy .question_down {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding-top: 28px;
    padding-bottom: 16px;
}

.what_is_etsy .help_center {
    border: 2px solid #222;
    padding: 14px 20px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
}

footer .light_blue {
    background-color: #D7E6F5;
    padding: 30px 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /* overflow-x: hidden; */
    padding-bottom: 40px;
}

footer .light_blue .svg12 {
    position: absolute;
    bottom: 95%;
    /* background-color: red; */
    left: 0px;
    /* right: -20px; */
    width: 100vw;
    overflow-x: hidden;
    /* background-color: red; */
}

footer .light_blue .svg12 svg {
    /* position: absolute; */
    min-width: 1500px;
    /* transform: scale(20); */
    /* background-color: saddlebrown; */
}

footer .light_blue p {
    text-align: center;
    font-weight: 600;
    padding: 20px 10px 20px 10px;
}

footer .light_blue .subscribe {
    background-color: white;
    display: flex;
    padding: 6px 10px;
    border-radius: 96px;
    border: 1px solid #ddd;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 583px;
    box-shadow: 1px 2px 4px 0 rgb(34 34 34 / 10%) inset;
}

footer .light_blue .subscribe input {
    padding: 10px 0;
    border: none;
    padding-left: 10px;
    /* background-color: saddlebrown; */
}

footer .light_blue .subscribe input::placeholder {
    font-size: 16px;
}

footer .light_blue .subscribe span {
    font-weight: 600;
    padding-right: 20px;
}

footer .blue {
    padding: 12px;
    background-color: #4D6BC6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

footer .blue .svg12 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    overflow-x: hidden;
}

footer .blue .svg12 svg {
    min-width: 1500px;
}

footer .blue .logo {
    width: 40px;
}

footer .blue span {
    color: white;
    text-align: center;
    line-height: 30px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 4px;

}

footer .dark_blue {
    background-color: #2F466C;
}

footer .dark_blue .list ul {
    list-style: none;
}

footer .dark_blue .list ul li {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 20px 30px;
    font-weight: 600;
}

footer .dark_blue .download_app {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

footer .dark_blue .download_app .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border: 2px solid white;
    padding: 0 5px;
    border-radius: 60px;
}

footer .dark_blue .download_app .logo {
    padding: 0 5px;
    padding-top: 5px;
}

footer .dark_blue .download_app .logo svg {
    width: 24px;
}

footer .dark_blue .download_app .container span {
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding-right: 5px;
}

footer .social_media ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

footer .social_media ul li {
    padding: 0 5px;
}

footer .social_media ul li svg {
    fill: white;
    width: 36px;
}

footer .navy_blue {
    background-color: #232347;
    padding-bottom: 20px;
}

footer .navy_blue .top {
    padding: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .navy_blue .top svg {
    fill: white;
    width: 20px;
}

footer .navy_blue .top span {
    color: white;
    font-weight: 600;
    font-size: 13px;
}

footer .navy_blue .bottom {
    color: white;
    text-align: center;
    font-size: 13px;
}

footer .navy_blue .bottom p {
    padding-bottom: 20px;
}

footer .navy_blue .bottom span {
    padding-left: 10px;
    text-decoration: underline;
}

.to_hide {
    display: none;
}


@media screen and (min-width:410px) {
    footer .navy_blue .bottom {
        display: flex;
        justify-content: center;
    }

}

@media screen and (min-width:480px) {
    .header .upper svg {
        width: 80px;
        height: 40px;
    }

}

@media screen and (min-width:640px) {
    .find_things .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .background {
        height: 60%;
    }

    .find_things p {
        font-size: 26px;
    }

    .find_things .card-container .cards {
        max-width: 98px;
    }

    .find_things .card-container .cards .image {
        max-height: 86px;
        max-width: 86px;
        width: 27vw;
        height: 27vw;

    }

    .editors_pick .square_card_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 16px;
    }

    .editors_pick .square_card_container .for_your_home_640 {
        display: block;
        grid-column: 1/3;
    }

    .editors_pick .square_card_container .for_your_home_640 p {
        font-size: 13px;
        padding-bottom: 10px;
        color: #666;
    }

    .editors_pick .square_card_container .for_your_home_640 h4 {
        font-size: 28px;
        padding-bottom: 30px;
    }

    .editors_pick .square_card_container .for_your_home_640 .para_arro {
        display: flex;
        align-items: center;
    }

    .editors_pick .square_card_container .for_your_home_640 .para_arro .unique_finds {
        font-size: 16px;
        color: black;
        font-weight: 600;
        padding-top: 10px;
        padding-right: 10px;
    }

    .editors_pick .square_card_container .for_your_home_640 .para_arro img {
        width: 14px;
    }

    .editors_pick .square_card_container .unique_field_last {
        display: flex;
        /* background: #4D6BC6; */
        grid-column: 4 / span 2;
        align-items: center;
        line-height: 24px;
    }

    .discover_unique h3 {
        text-align: left;
        font-size: 28px;
    }

    .discover_unique .wrapper label {
        padding-left: 30px;
    }

    .discover_unique .wrapper .content .radio_content {
        display: grid;
        align-items: center;
        align-content: center;
        grid-template-columns: 1fr 1fr;

    }

    .discover_unique .wrapper .content .radio_content .image_container {
        width: 45vw;
    }

    .jewellery_card_container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 24px;
        gap: 15px;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .jewellery_card_container .jewellery_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1/3;
    }

    .jewellery_shop .jewellery_card_container .jewellery_text .editor p {
        text-align: left;
    }

    .jewellery_shop .jewellery_card_container .jewellery_text .editor h4 {
        text-align: left;
        font-size: 28px;
        padding-bottom: 20px;
    }

    .jewellery_shop .jewellery_card_container .jewellery_text .see_more {
        justify-content: flex-start;
    }

    .jewellery_card_container .card .image {
        min-width: 100px;
        min-height: 100px;
        max-width: 200px;
    }


    .to_hide_640 {
        display: none;
    }

    .to_hide {
        display: block;
    }
}